<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Poppa's Pizza</title>

	<!-- Link to Javascript -->
	<script src ="js/pizza.js" defer></script>
	<script src = "https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src = "//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

	<!-- Favicon -->
	<link rel="Icon" href = '/images/pizza_icon.png'>

	<!-- Stylesheet -->
	<link rel = "stylesheet" href = '//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css'>
	<link rel = "stylesheet" href = '/styles/pizza-styles.css'>
</head>
<body>
	<main>
		<header>
			<img src="/images/mascot200.png" alt = "Pizza Mascot">
			<h1>Poppa's Pizza</h1>
			<p id = "tag-line">Serving GRC students for 50 years!</p>
			<hr>
			<p>Poppa's Pizza delivers heart-warming, handcrafted pizzas straight from our brick ovens to your stomach!</p>
			<a class = "main-button" href = "/contact-us" role = "button">Contact Us</a>
		</header>
        <h1>Admin Page</h1>
		<table id ="order-table" class="display">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Toppings</th>
					<th>Size</th>
					<th>Comment</th>
					<th>Date/Time</th>
				</tr>
			</thead>
			<tbody>
				<% orders.forEach(order => { %>

					<tr>
						<td><%= order.fname %> <%= order.lname %></td>
						<td><%= order.email%></td>
						<td><%= order.toppings%></td>
						<td><%= order.size%></td>
						<td><%= order.comment%></td>
						<td><%= order.timestamp%></td>
					</tr>

				<% }); %>
			</tbody>
		</table>
	</main>
	<script defer>
		let table = new DataTable('#order-table');
	</script>
</body>
</html>